@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light theme colors */
  --primary: #ffa800;
  --main: #333;
  --gray400: #7a7a7a;
  --gray300: #a9a9a9;
  --gray200: #e5e7eb;
  --placeholder: #9ca3af;
  --black: #000;

  --background-main: #ffffff;
  --background-layout: #f5f5f5;
  --background-disabled: #f8f8f8;
  --background-tab: #fefefe;

  --border-main: #e0e0e0;
  --border-selected: #ffa800;
}

[data-theme="dark"] {
  --primary: #ffa800;
  --main: #fffff9;
  --gray400: #9ca3af;
  --gray300: #d1d5db;
  --gray200: #e5e7eb;
  --placeholder: #6b7280;
  --black: #000;

  --background-main: #161b1b;
  --background-layout: #191f1f;
  --background-disabled: #737373;
  --background-tab: #262626;

  --border-main: #393939;
  --border-selected: #ffa800;
}

body {
  background: var(--background-layout);
  color: var(--main);
  font-family: var(--font-vazirmatn), var(--font-dana) !important;
}

.custom-modal .MuiPaper-root {
  max-width: 80%;
  color: var(--main);
  background-color: var(--background-main);
  padding: 32px 24px;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
}
@media (max-width: 600px) {
  .custom-modal .MuiPaper-root {
    border-radius: 32px 32px 0px 0px;
    width: 100%;
    max-width: unset;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 24px 5%;
  }
}

/* global reusable styles */
.cards-lg-box-shadow {
  -webkit-box-shadow: 0px 0px 19px 0px var(--primary);
  -moz-box-shadow: 0px 0px 19px 0px var(--primary);
  box-shadow: 0px 0px 19px 0px var(--primary);
}
.cards-md-box-shadow {
  -webkit-box-shadow: 0px 0px 11px 0px var(--primary);
  -moz-box-shadow: 0px 0px 11px 0px var(--primary);
  box-shadow: 0px 0px 11px 0px var(--primary);
}
.cards-sm-box-shadow {
  -webkit-box-shadow: 0px 0px 6px 0px var(--primary);
  -moz-box-shadow: 0px 0px 6px 0px var(--primary);
  box-shadow: 0px 0px 6px 0px var(--primary);
}

.__datepicker.__datepicker-theme-mode-dark * {
  --background: #141414;
}
.__datepicker-input {
  input {
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--main);
  }
}
.__datepicker-weak,
.__datepicker-icon,
.__datepicker-selected {
  background-color: var(--primary);
  border: 1px solid var(--border-main) !important;
}
.__datepicker-days:hover:not(.__datepicker-day-disabled):not(
    .__datepicker-today
  ):not(.__datepicker-selected) {
  background-color: #cbd5e1 !important;
  border: none;
}
.__datepicker-modal {
  width: 91.2%;
  max-width: 500px;
}
.__datepicker-dropdown-body-content,
.__datepicker-pick-day-container {
  width: 100%;
  max-width: 500px;
}

.__datepicker-dropdown-body .__datepicker-dropdown-body-header {
  direction: rtl !important;
  flex-direction: row;
  .__datepicker-icon {
    rotate: 180deg;
  }
}
