@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light theme colors */
  --primary: #ffa800;
  --main: #333;
  --gray400: #7a7a7a;
  --gray300: #a9a9a9;
  --gray200: #e5e7eb;
  --placeholder: #9ca3af;
  --black: #000;

  --background-main: #ffffff;
  --background-layout: #f5f5f5;
  --background-disabled: #f8f8f8;
  --background-tab: #fefefe;

  --border-main: #e0e0e0;
  --border-selected: #ffa800;
}

[data-theme="dark"] {
  --primary: #ffa800;
  --main: #fffff9;
  --gray400: #9ca3af;
  --gray300: #d1d5db;
  --gray200: #e5e7eb;
  --placeholder: #6b7280;
  --black: #000;

  --background-main: #161b1b;
  --background-layout: #191f1f;
  --background-disabled: #737373;
  --background-tab: #262626;

  --border-main: #393939;
  --border-selected: #ffa800;
}

body {
  background: var(--background-layout);
}
